.ContainerInfo {
  flex: 1;
}

.Container {
  flex: 1;
  display: flex;
}

.MapBox {
  /* display: flex; */
  background-color: #888;
  height: 250px;
  width: 100%;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  color: red;
}

.Title {
  display: flex;
  font-size: 22px;
  color: #999;
  font-weight: 700;
}

.Info {
  display: flex;
  font-size: 22px;
  margin: 15px 15px 5px 15px;
  padding: 8px;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  border: solid #ddd 2px;
}

.BoxTripDetail {
  display: flex;
  margin: 15px 20px 0 20px;
  flex-direction: row;
  align-items: center;
}

.DescriptTitle {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  margin-left: 10px;
  color: #555;
}

.InfoDescriptText {
  font-size: 18px;
  display: flex;
}

.InfoBoxDescript {
  display: flex;
  margin: 10px 15px 0 15px;
  padding: 5px;
  border-radius: 100px;
  flex-direction: row;
  background-color: #eceff1;
  align-items: center;
  justify-content: center;
}

.Separator {
  display: flex;
  height: 1px;
  background-color: #ddd;
  margin: 20px 20px 0 20px;
}

.CloseBox {
  display: flex;
  background-color: #2196f3;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 15px;
  border-radius: 150px;
}

.CloseTitle {
  display: flex;
  color: #fff;
  font-size: 16px;
}
